//================FORMs================
.input-default
  margin-bottom: 15px
  input
    width: 100%

    border-radius: 4px
    box-shadow: none
    border: 1px solid #ccc
    padding: 0.5em
    height: 36px
    line-height: 1.4px
    display: block

.container-btn-form
  display: flex
  width: 100%
  .item
    flex-grow: 1
