$text-color: #4f4f4f
$font-primary-import: 'https://fonts.googleapis.com/css?family=Roboto:400,400i,500'
$font-primary: 'Roboto', sans-serif

//grid config
//colors
$color-primary: #039be5
$color-secundary: #03A9FF

//text-colors
$color-title: #595959
$color-text: #939393
